@font-face {
  font-family: 'Dynamik_JSGX';
  src: url('https://github.com/Dynamikotf/Typewriter/blob/master/Dynamik_JSGX.ttf')  format('truetype')
}

body {
  align-items: center;
  justify-content: center;
  background: black;
}

#content {
  position: absolute;
  overflow-y: auto;
  display: table-caption;
  height: 70%;
  width: 95.50%;
  font-size: 30px;
  line-height: 30px;
  font-family: 'Dynamik_JSGX';
  color: white;
  margin-top: 36px;
  overflow-x: hidden;
  word-wrap: break-word;
  margin-left: 36px;
 
}

.col-container {
  margin-left: 22px;
  background: black;
  color: white;
  font-family: 'Dynamik_JSGX';
  display: table;
  width: 100%;
}

.col {
  width: 320px;
  display: table-cell;
  padding: 16px;
}
